05 - Test Automation for Data Quality Engineers - part 1\env\*
05 - Test Automation for Data Quality Engineers - part 1\__pycache__\*
05 - Test Automation for Data Quality Engineers - part 1\config.ini
05 - Test Automation for Data Quality Engineers - part 1\resources\variables.robot
